{% extends "task_app/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Login" class="btn btn-primary">
        {% if messages %}
        <div class="btn btn-danger" style="display:block; margin-top: 10px; cursor: none">
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>        
        {% endif %} 
    </form>
</div>
{% endblock %}